.avatar {
  display: inline-block;
  margin: 0 1em;
  width: 4em;
  max-width: 4em;
  // margin: 0 auto;
  border-radius: 50%;
  height: 4em;
  background-image: url(avatar.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none !important;
}

.orange-bg {
  background: rgb(222, 71,  65);
}

.green-bg {
  background: rgb(146, 205, 136);
}

.light-blue-bg {
  background: rgb(103, 195, 189);
}

.orange {
  color: rgb(222, 71,  65);
}
.navy {
  color: rgb(40, 48, 62);
}

.gallery {
  text-align: center;
  padding-top: 1em;
}
.gallery-item {
  display: inline-block;
}
.gallery-item > img {
  width: 30%;
  margin: 1em;
  display: inline-block;
}
