.avatar {
  display: inline-block;
  margin: 0 1em;
  width: 4em;
  max-width: 4em;
  // margin: 0 auto;
  border-radius: 50%;
  height: 4em;
  background-image: url(avatar.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none !important;
}

body {
  background: rgb(31, 31, 31);
  font-family: "STHeiti", Helvetica, sans-serif;
}
a, a:active, a:visited {
  color: rgb(202, 88, 53);
}
a:hover {
  color: rgb(202, 88, 53);
  opacity: 0.7;
}
.header {
  background-color: black;
  background-image: url(avatar.jpg);
  background-position: center -650px;
  background-repeat: no-repeat;
  border-bottom: 2em solid rgb(202, 88, 53);
  height: 300px;
}
.container {
  max-width: 600px;
}

h1 {
  text-align: center;
}
.subtitle {
  text-align: center;
  margin-top: 0;
}

.content {
  line-height: 1.5;
  font-size: 1.2em;
}

.main {
  color: #DDD;
}

.inline-image  {
  max-width: 100%;
  display: block;
  margin-bottom: 1em;
}

.gallery {
  display: none;
  text-align: center;
  padding-top: 1em;
}
.gallery-item {
  display: inline-block;
}
.gallery-item > img {
  width: 30%;
  min-width: 200px;
  margin: 1em;
  display: inline-block;
}
