.avatar {
  display: inline-block;
  margin: 0 1em;
  width: 4em;
  max-width: 4em;
  // margin: 0 auto;
  border-radius: 50%;
  height: 4em;
  background-image: url(avatar.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none !important;
}

.gallery-item {
  float: left;
}
.gallery-item > img {
  width: 20em;
  margin: 1em;
  display: inline-block;
}
